.wall {
    background-color: blue;
   height: 40px;
   width: 40px;
    display: inline-block;
}
.sushi {
    background-color: crimson;
   height: 40px;
   width: 40px;
    display: inline-block;
    background-image: url('img/sushi.png');
    background-size: contain;
}
.blank {
    background-color: black;
   height: 40px;
   width: 40px;
    display: inline-block;
}
#ninjaman {
    background-color: crimson;
   height: 40px;
   width: 40px;
    display: inline-block;
    background-image: url('img/ninja.gif');
    background-size: contain;
    position: absolute;
    left:0px;
    top:0px;
}
.row{
    line-height:0 ;
    
}
*{
    margin:0;
    padding:0;
}
